<div>
    <div class="background"
        style="background-image: linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.25)), url('assets/images/b3.jpg');  background-size: cover;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/images/store.jpeg" style="margin-top: 10%; padding: 6% 7%" height="100%" width="100%">
            </div>
            <div id="page" class="col-md-6 mt-5 mb-2 ml-3">
                <h3 class="text-body text-center mt-5"><b>WELCOME TO OUR STORE</b></h3>
                <form action="" class="mt-0 p-5" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
                    <h4 class="text-sucess mb-3">Login </h4>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" formControlName="Email">
                        <label for="email" class="form-label">Enter the Email</label>
                        <div class="form-text text-danger"
                            *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">

                            Email is Required

                        </div>

                        <div class="form-text text-danger"
                            *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">

                            Email is Invalid!

                        </div>

                    </div>

                    <div class="form-floating mb-3">

                        <input type="password" class="form-control" id="password" formControlName="Password">

                        <label for="password" class="form-label">Enter the Password</label>

                        <div class="form-text text-danger"
                            *ngIf="Password.errors?.['required'] && (Email.dirty || Email.touched)">

                            Password is Required

                        </div>
                        <div class="form-text text-danger"
                            *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength']">

                            Password should be atleast 6 and at the max 15 characters long!

                        </div>

                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                        <div class="form-text text-danger mt-3 " *ngIf="errorMessage != null"> &nbsp;&nbsp;Invalid
                            Credentials Please Try Again !!!</div>

                        <button id="loginbtn" type="submit" [disabled]="loginForm.invalid"
                            class="btn btn-outline-success" class="btn btn-success btn-lg"
                            style="margin-top:3%; margin-bottom: 3%">Login</button>

                        <button id="registerbtn" type="button" (click)="onClick()" class="btn btn-outline-success"
                            class="btn btn-success btn-lg" style="margin-top:3%; margin-bottom: 3%">Register</button>

                    </div>

                </form>

            </div>

        </div>
    </div>
</div>